<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCHNNyLEdY9yCJS3anz0tEEJVIBNkWP4yk</string>
	<key>GCM_SENDER_ID</key>
	<string>587997386916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.puzzle</string>
	<key>PROJECT_ID</key>
	<string>game1-puzzle</string>
	<key>STORAGE_BUCKET</key>
	<string>game1-puzzle.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587997386916:ios:7e79dbbb2aeb42b5c8ee31</string>
	<key>DATABASE_URL</key>
	<string>https://game1-puzzle-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>